.app[data-theme="dark"] {
  --bg-color-1: #28282b;
  --text-color-1: #dbdce0;
}

.app {
  --bg-color-2: aliceblue;
  --text-color-2: #e6e6e6;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #3498db;
  /* overflow: hidden; */
}

* {
  -webkit-user-drag: none;
  user-zoom: none;
  scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
  * {
    -webkit-user-drag: none;
    user-zoom: none;
    scroll-behavior: smooth;
    user-select: none;
  }
}