/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.logo {
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.logo::selection {
  background-color: transparent;
}
.txt {
  width: fit-content;
  cursor: pointer;
}
.txt:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.txt::selection {
  background-color: transparent;
}
ul {
  display: flex;
}
li {
  margin: 0px 10px;

  list-style: none;
}
li::selection {
  background-color: transparent;
}
a {
  margin: 0px 10px;
  font-weight: 500;

  text-decoration: none;
  transition: all 0.3s ease-in;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a::selection {
  background-color: transparent;
}
a:hover {
  transition: all 0.3s ease-in-out;
  color: #535bf2;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
  font-weight: bold;
}
h1::selection {
  background-color: transparent;
}
h2 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: bold;
}
h2::selection {
  background-color: transparent;
}
h3 {
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: bold;
}
h3::selection {
  background-color: transparent;
}
h4 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: bold;
}
h4::selection {
  background-color: transparent;
}
h5 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: bold;
}
h5::selection {
  background-color: transparent;
}
h6 {
  font-size: 1em;
  line-height: 1.1;
  font-weight: bold;
}
h6::selection {
  background-color: transparent;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* button {
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
  cursor: pointer;
  padding: 7px 20px;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

button:active {
  border: none;
}

button:hover {
  background-color: #28282b;
  color: white;
  transform: scale(1.1);
  border-radius: 10px 0px;
  transition: all 0.3s ease-in-out;
} */