.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  display: block;
  pointer-events: none;
  z-index: 9999;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  user-select: none;
  animation: pulse 19s infinite alternate;
}

.dot {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 4px #888888;

  padding: 23px;
  height: 12px;
  width: 12px;
  display: block;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  right: 18px;
}