@font-face {
  font-family: Young_serif;
  src: url('../MyFonts/YoungSerif-Regular.ttf');
}

@font-face {
  font-family: Kenit;
  src: url('../MyFonts/Kanit-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.work {
  height: 85vh;
  width: 100vw;
  overflow: auto;
  padding: 50px 0;
}

.card_controller {
  display: grid;
  gap: 2.25rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 450px));
  justify-content: center;
  align-items: center;
}
.card_image_controller{
  transform: skew(0);

  transition: all 0.3s ease-in-out;
}
.card_image_controller:hover {
  -webkit-transform: perspective(800px) rotateY(25deg) scale(1) rotateX(10deg);
  transform: perspective(800px) rotateY(25deg) scale(1) rotateX(10deg);

}

.card_image {
  box-shadow: 2px 2px 9px #28282b;
  height: 18.75rem;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;

  
}



.card_image>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.link {
  border-radius: 20px;
  padding: 9px 15px;
  background: gray;
  color: white;
  font-family: 'Michroma', sans-serif;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  text-decoration: none;


}

.link:hover {
  opacity: 0.8;
  cursor: pointer;
  

}

.link_Arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Arrow {
  font-size: 30px;
  font-weight: bold;
  color: #28282b;
 
}

.title {
  padding: 20px;
  margin-bottom: 45px;
}

.title_text {
  text-align: center;
  font-weight: bolder;
  font-family: Michroma;

}
.title_text::selection{
  background: gray;
  color: white;
}

@media screen and (max-width: 462px) {
  .card_image {
    width: 90%;
    margin: auto;

  }
}

@media screen and (max-width: 293px) {
  .card_image {
    width: 75%;
  }
}